.red{
     color:#fc605b
}

.orange{
    color:#fdbc40
}

.green{
    color:#34c84a
}

.blue{
    color:#57acf5
}

.checkbox{
 
    
}
.nav-group-item1{
    display: flex !important;
    align-items: stretch;
    align-content: stretch
}